@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@500&family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body{
    font-family: 'Poppins';
    background-color: #F1E3D3;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
h2{
    color: #B56576;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
    position: relative;
    margin-left: 15px;
}
h2::before{
    content: "";
    position: absolute;
    background-color: #EAAC8B;
    width: 50px;
    height: 7px;
    bottom: 0;
}
a{
    text-decoration: none;
    color: black;
}

/* *********NAVBAR********* */
nav{
    overflow: hidden;
    background-color: #EAAC8B;
    position: fixed;
    width: 100%;
}
header li{
    float: right;
    font-size: 1.2em;
}
header li a{
    color: #B56576;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
header li a:hover{
    transition: 0.3s ease;
    color:#F1E3D3;
}
#logo{
    color: #E56B6F;
    font-family: 'Abril Fatface';
    /* font-weight: bold; */
    float: left;
}

/* ********* IMAGE PRINCIPALE ********* */
#imgPrincipale{
    padding-top: 60px;
    background: url(medias/entete.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}
h1{
    font-family: 'Abril fatface', cursive;
    text-align: center;
    color: #c25c60;
    font-size: 6em;
    font-weight: 200;
    margin-top: 100px;
    text-shadow: 1px 2px 2px #F1E3D3;
}
#firstTrait{
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #E56B6F;
    box-shadow: 1px 2px 2px #F1E3D3;
}
h3{
    text-align: center;
    color: black;
    font-size: 2em;
    text-shadow: 1px 2px 2px #F1E3D3;
}

/* ********* PRESENTATION ********* */
#presentation{
    padding: 10px 0px 100px 0;
}
#intro{
    padding: 0px 20px;
}
/* #presta{ */
.contain{
    align-items: center;
    width: 444px;
    height: 303px;
    margin: 50px auto;
    text-align: center;
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 33px 33px 32px 33px;
    border: 27px solid rgba(211, 211, 211, 0.384);
}
p{
    align-items: center;
}

h4{
    text-align: center;
    font-size: 1em;
    margin: 15px;
    font-weight: 300;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card img{
    float: left;
}
.card{
    display: flex;

    width: 400px;
    height: 200px;

    background-color: white;
    border-radius: 10px;
    border: 20px solid rgba(211, 211, 211, 0.384);

    margin: 10px;
    font-size: 0.8em;
}
.card:hover{
opacity: 0.9;
transform: scale(1.05);
transition: 0.6s ease-in-out;
}

.btn{
    /* color: #F1E3D3; */
    width: 20%;
    background-color: #EAAC8B;
    font-family: 'Poppins';
    /* font-weight: bold; */
    color: #B56576;
    border-radius: 10px;
    /* margin-top: 100px; */
    margin-right: 45px;
    /* margin-bottom: 100px; */
    padding: 5px;
    border: none;
    float: right;
    margin: 0px;
}
.btn:hover{
    transform: scale(1.1);
    transition: 0.4s;
    /* background-color: #5957ba; */
    cursor: pointer;
}

/* input, textarea, button{
    border: none;
    width: 50%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1em;
    font-family: 'Poppins';
    border-radius: 8px; */

/* ********* CARITATIF ********* */
/* .imgAssoc{
    padding-top: 60px;
    background: url(medias/assoc.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 799px; */
}

#caritatif{
align-items: center;
width: 777px;
height: 606px;
margin: 50px auto;
text-align: center;
/* background: url(medias/assoc.jpg); */
/* font-weight: bold; */
font-family: "Montserrat Alternates", sans-serif;
padding: 12px;
border-radius: 33px 33px 32px 33px;
border: 27px solid rgba(211, 211, 211, 0.384);
}


/* ********* FOOTER ********* */
footer{
    background-color: #B56576;
    padding: 20px 0 10px 0;
    text-align: center;
}
footer h2{
    color: #F1E3D3;
}
footer h2:hover{
    opacity: 0.5;
}
form{
    margin: 0 auto;
    max-width: 900px;
}
form input, textarea, button{
    border: none;
    width: 50%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1em;
    font-family: 'Poppins';
    border-radius: 8px;
}
textarea{
    height: 100px;
}
/* button{
    /* font-size: 1.5em; */
    /* background: #9695ce;
}*/
button:hover{
    transform: scale(1.1);
    transition: 0.6s;
    color: #FFFFFF;
    background-color: #EAAC8B;
    cursor: pointer;
} 
#deuxTrait{
    height: 1px;
    width: 75%;
    background-color: #F1E3D3;
    margin: 60px auto;
}
#copyrightIcon{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 0 10%;
}
span{
    width: auto;
    text-align: left;
    color: #F1E3D3;
    font-size: small;
}
#icons{
    text-align: right;
}
#icons a{
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
}
#icons a:hover{
    transform: scale(1.5);
    transition: 0.1s;
}